<main>
    {{#with report}}
        <h1>{{title}}</h1>
        {{#ifEq author ../user.username}}
            <a href="/reports/{{_id}}/edit"><button>Edit report</button></a>
        {{/ifEq}}
        <h2>Details</h2>
        <dl>
            {{#unless is_anonymous}}
                <dt>Author:</dt>
                <dd>{{author}}</dd>
            {{/unless}}
            <dt>Classification:</dt>
            <dd>{{crime}}</dd>
            <dt>Location:</dt>
            <dd>{{area}}, {{city}}, {{state}} ({{zipcode}})</dd>
            <dt>Created on:</dt>
            <dd>{{created_at}}</dd>
            <dt>Last edited on:</dt>
            <dd>{{edited_at}}</dd>
        </dl>
        <h2>Images</h2>
        {{#each img}}
            <img src="{{img}}" alt="Photo for report '{{../title}}'">
        {{else}}
            <p>No images provided.</p>
        {{/each}}
        <h2>Description</h2>
        <p>{{desc}}</p>
        <h2>Comments</h2>
        {{#if ../user}}
            <form id="comment-form" action="{{_id}}/comment" method="POST">
                <label for="comment">Leave a comment:</label>
                <textarea id="comment" name="comment"></textarea>
                <input type="submit" value="Submit">
            </form>
            <p id="comment-error" hidden="hidden">Error: Comment must contain non-whitespace characters.</p>
            <br> <!-- TODO: Remove <br> after implementing CSS styling -->
        {{/if}}
        <form action="{{_id}}" method="GET">
            <label for="sort">Sort by:</label>
            <select id="sort" name="sort">
                <option value="best" {{#ifEq ../sort "best"}}selected{{/ifEq}}>Highest score first</option>
                <option value="worst" {{#ifEq ../sort "worst"}}selected{{/ifEq}}>Lowest score first</option>
                <option value="newest" {{#ifEq ../sort "newest"}}selected{{/ifEq}}>Newest first</option>
                <option value="oldest" {{#ifEq ../sort "oldest"}}selected{{/ifEq}}>Oldest first</option>
            </select>
            <input type="submit" value="Sort">
        </form>
        <dl>
            {{#each comments}}
                <dt>Posted by {{author}} ({{time}}):</dt>
                <dd>{{comment}}</dd>
                <div>Score: {{score}}</div>
                {{#if ../../user}}
                    <div>
                        <form action="/comments/{{_id}}/like" method="POST">
                            <input type="submit" value="Like">
                        </form>
                        <form action="/comments/{{_id}}/dislike" method="POST">
                            <input type="submit" value="Dislike">
                        </form>
                    </div>
                {{/if}}
            {{else}}
                <p>No comments yet.</p>
            {{/each}}
        </dl>
    {{/with}}
</main>
<script type="module" src="/js/report.js"></script>
