<main>
    {{#with report}}
        <h1>{{title}}</h1>
        <h2>Details</h2>
        <dl>
            <dt>Author:</dt>
            <dd>{{author}}</dd>
            <dt>Classification:</dt>
            <dd>{{crime}}</dd>
            <dt>Location:</dt>
            <dd>{{area}}, {{city}}, {{state}}</dd>
        </dl>
        <h2>Description</h2>
        <p>{{desc}}</p>
    {{/with}}
    <h2>Comments</h2>
    {{#if user}}
        <form action="{{_id}}/comment" method="POST">
            <label for="comment">Leave a comment:</label>
            <textarea id="comment" name="comment"></textarea>
            <input type="submit" value="Submit">
        </form>
    {{/if}}
    <dl>
        {{#each report.comments}}
            <dt>Posted by {{user}}:</dt>
            <dd>{{comment}}</dd>
        {{else}}
            <p>No comments yet.</p>
        {{/each}}
    </dl>
</main>
